<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Boss02_Base.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,544},{70,253}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,253}}</string>
			<key>sourceSize</key>
			<string>{70,253}</string>
		</dict>
		<key>Boss02_Propeller.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,544},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>Boss02_WL01_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,89},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>Boss02_WL02_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,469},{38,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,63}}</string>
			<key>sourceSize</key>
			<string>{38,63}</string>
		</dict>
		<key>Boss02_WL02_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001,47},{14,43}}</string>
			<key>offset</key>
			<string>{12,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,5},{14,43}}</string>
			<key>sourceSize</key>
			<string>{38,63}</string>
		</dict>
		<key>Boss02_WR01_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,27},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>Boss02_WR02_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,404},{38,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,63}}</string>
			<key>sourceSize</key>
			<string>{38,63}</string>
		</dict>
		<key>Boss02_WR02_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001,2},{14,43}}</string>
			<key>offset</key>
			<string>{-12,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{14,43}}</string>
			<key>sourceSize</key>
			<string>{38,63}</string>
		</dict>
		<key>Boss06_Base.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,2},{400,275}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,275}}</string>
			<key>sourceSize</key>
			<string>{400,275}</string>
		</dict>
		<key>Boss06_Body01_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,273},{88,269}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,269}}</string>
			<key>sourceSize</key>
			<string>{88,269}</string>
		</dict>
		<key>Boss06_Body01_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,2},{88,269}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,269}}</string>
			<key>sourceSize</key>
			<string>{88,269}</string>
		</dict>
		<key>Boss06_Body02_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,806},{156,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,202}}</string>
			<key>sourceSize</key>
			<string>{156,202}</string>
		</dict>
		<key>Boss06_Body02_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,806},{156,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,202}}</string>
			<key>sourceSize</key>
			<string>{156,202}</string>
		</dict>
		<key>Boss06_Body03_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,806},{156,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,202}}</string>
			<key>sourceSize</key>
			<string>{156,202}</string>
		</dict>
		<key>Boss06_Body03_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,806},{156,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,202}}</string>
			<key>sourceSize</key>
			<string>{156,202}</string>
		</dict>
		<key>Boss06_Body04_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,2},{26,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,46}}</string>
			<key>sourceSize</key>
			<string>{26,46}</string>
		</dict>
		<key>Boss06_Body04_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,2},{26,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,46}}</string>
			<key>sourceSize</key>
			<string>{26,46}</string>
		</dict>
		<key>Boss06_Gun01_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,544},{23,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,75}}</string>
			<key>sourceSize</key>
			<string>{23,75}</string>
		</dict>
		<key>Boss06_Gun01_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,2},{23,61}}</string>
			<key>offset</key>
			<string>{0,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,61}}</string>
			<key>sourceSize</key>
			<string>{23,75}</string>
		</dict>
		<key>LevelMap05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{480,802}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,802}}</string>
			<key>sourceSize</key>
			<string>{480,802}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Level05.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>Level05.png</string>
	</dict>
</dict>
</plist>
