<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PC_Plane01_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,269},{30,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{30,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>PC_Plane01_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,311},{42,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{42,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>PC_Plane01_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{60,67}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>PC_Plane01_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{80,67}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{80,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>PC_Plane01_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>PC_Plane01_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,70},{80,67}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{80,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>PC_Plane01_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{60,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>PC_Plane01_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,262},{42,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{42,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>PC_Plane01_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,200},{30,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{30,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>PC_Plane02_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,340},{26,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{26,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>PC_Plane02_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,285},{40,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>PC_Plane02_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,362},{56,66}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>PC_Plane02_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,138},{74,66}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>PC_Plane02_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>PC_Plane02_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,71},{76,66}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>PC_Plane02_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,334},{58,66}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>PC_Plane02_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{42,66}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>PC_Plane02_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,327},{28,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{28,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>PC_Plane03_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,270},{32,69}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{32,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>PC_Plane03_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,273},{36,69}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{36,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>PC_Plane03_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,219},{52,69}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>PC_Plane03_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{68,69}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>PC_Plane03_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,63},{80,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>PC_Plane03_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,200},{68,69}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>PC_Plane03_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,206},{52,69}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>PC_Plane03_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,260},{38,69}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{38,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>PC_Plane03_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,300},{32,69}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{32,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>PC_Plane04_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,306},{32,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{32,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>PC_Plane04_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,435},{40,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>PC_Plane04_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{56,66}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>PC_Plane04_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,77},{74,66}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>PC_Plane04_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{86,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>PC_Plane04_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,70},{74,66}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>PC_Plane04_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,304},{56,66}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>PC_Plane04_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{40,66}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>PC_Plane04_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,338},{32,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{32,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>PC_Plane05_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,152},{28,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{28,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>PC_Plane05_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,207},{38,73}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{38,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>PC_Plane05_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,149},{56,73}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>PC_Plane05_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,145},{72,73}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>PC_Plane05_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{84,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>PC_Plane05_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,134},{70,73}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>PC_Plane05_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,206},{54,73}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>PC_Plane05_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,247},{36,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{36,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>PC_Plane05_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,77},{28,73}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{28,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>PC_Plane06_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,450},{26,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{26,59}}</string>
                <key>sourceSize</key>
                <string>{84,59}</string>
            </dict>
            <key>PC_Plane06_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,288},{38,59}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{84,59}</string>
            </dict>
            <key>PC_Plane06_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,355},{56,59}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{84,59}</string>
            </dict>
            <key>PC_Plane06_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{72,59}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{72,59}}</string>
                <key>sourceSize</key>
                <string>{84,59}</string>
            </dict>
            <key>PC_Plane06_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{84,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,59}}</string>
                <key>sourceSize</key>
                <string>{84,59}</string>
            </dict>
            <key>PC_Plane06_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,139},{72,59}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,59}}</string>
                <key>sourceSize</key>
                <string>{84,59}</string>
            </dict>
            <key>PC_Plane06_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,394},{54,59}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{84,59}</string>
            </dict>
            <key>PC_Plane06_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,227},{38,59}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{84,59}</string>
            </dict>
            <key>PC_Plane06_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,349},{26,59}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{26,59}}</string>
                <key>sourceSize</key>
                <string>{84,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Player.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>Player.png</string>
        </dict>
    </dict>
</plist>
